* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-height: 100vh;
  margin: 0;
}

.header {
  background-color: #fff;
  padding: 15px 40px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link {
  display: flex;
  gap: 30px;
  list-style: none;
}
.nav_link_a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s;
}
.nav_link_a a:hover {
  color: #6a0dad;
  border-bottom: 2px solid #6a0dad;
}

.nav_link_a.active {
  color: #6a0dad;
  border-bottom: 2px solid #6a0dad;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #6a0dad;
  text-decoration: none;
}

.btn_hire {
  background-color: #6a0dad;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn_hire:hover {
  background-color: #4b0082;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 300px;
  gap: 15px;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  flex: 1;
  width: 100%;
}

.box_top {
  grid-column: 1/3;
  background: #ffff;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 40px;
  border-radius: 10px;
}

.top_image img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.top_info h1 {
  font-size: 36px;
  margin-bottom: 8px;
}

.role {
  color: #6a0dad;
  font-weight: 600;
  margin-bottom: 15px;
}

.desc {
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
  max-width: 500px;
}

.clic {
  background: #6a0dad;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
}

.box_bottom_left {
  background: #ffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}

.tech_list {
  display: flex;
  gap: 15px;
}

.tech_items {
  padding: 8px 16px;
  background: #f0f0f5;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
  color: #333;
  cursor: default;
}

.box_bottom_right {
  border-radius: 10px;
  background: #ffff;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  gap: 20px;
}

.counter_box {
  background: #f0f0f5;
  border-radius: 12px;
  padding: 30px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.counter_val {
  font-size: 48px;
  font-weight: bold;
  color: #6a0dad;
}

.counter_btns {
  display: flex;
  gap: 10px;
}

.btn_minus,
.btn_reset,
.btn_plus {
  padding: 8px 16px;
  background: #6a0dad;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn_minus:hover,
.btn_reset:hover,
.btn_plus:hover {
  background: #4b0082;
}

/*====about page-container====*/
.container_about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;

  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  flex: 1;
}

.bottom_row {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about_nav {
  grid-column: 1/3;
  padding: 20px 0;
}

.about_nav h1 {
  font-size: 36px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.badge {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  border: 3px solid white;
}

.badge:first-of-type {
  background: #2ecc71;
}
.badge:last-of-type {
  background: #e74c3c;
  margin-left: -15px;
}

.about_nav p {
  color: #666;
  font-size: 14px;
}

/*====about page-me====*/
.about_me {
  background: white;
  border-radius: 12px;
  padding: 25px;
  display: flex;
  gap: 20px;
}

.about_img {
  width: 140px;
  height: 140px;
  border-radius: 8px;
  object-fit: cover;
  flex-shrink: 0;
}

.about_text h2 {
  font-size: 22px;
  margin-bottom: 5px;
  color: #6a0dad;
}

.role_about {
  color: #6a0dad;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.about_text p {
  color: #666;
  font-size: 13px;
  line-height: 1.6;
}

/*==qiziqishlar===*/
.qiziqish {
  background: white;
  border-radius: 12px;
  padding: 25px;
}

.qiziqish h3 {
  margin-bottom: 20px;
  font-size: 16px;
  color: #6a0dad;
}

.qiziqish_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.qiziq_tag {
  padding: 6px 14px;
  background: #f0f0f5;
  border-radius: 20px;
  font-size: 13px;
  color: #333;
}

/*===4-box===*/

.skills {
  background: white;
  border-radius: 12px;
  padding: 25px;
}

.skills h3 {
  margin-bottom: 20px;
  font-size: 16px;
  color: #6a0dad;
}

.skill {
  margin-bottom: 15px;
}

.skill_top {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 6px;
}

.skill_bar {
  height: 8px;
  background: #f0f0f5;
  border-radius: 4px;
  margin-bottom: 6px;
}

.skill_fill {
  height: 100%;
  background: #6a0dad;
  border-radius: 4px;
}

/*===nav counter===*/
.nav_counter {
  background: #afc6f2;
  border-radius: 12px;
  padding: 25px;
}

.nav_counter h3 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #6a0dad;
}

.counter_desc {
  color: #888;
  font-size: 12px;
  margin-bottom: 15px;
}

.nav_counter textarea {
  width: 100%;
  min-height: 100px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 13px;
  resize: vertical;
  outline: none;
}

.nav_counter textarea:focus {
  border-color: #6a0dad;
}

.counter_result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f0f5;
  padding: 12px 16px;
  border-radius: 8px;
  margin-top: 15px;
  border-top: 1px solid #ddd;
  font-size: 13px;
}

#charCount {
  font-weight: bold;
  color: #6a0dad;
}

/*===footer===*/
.footer {
  background-color: #e8e8ec;

  text-align: center;
  padding: 15px;
  color: #888;
  font-size: 13px;
}

.footer_title {
  font-weight: 600;
  color: #4b0082;
}

.footer_copy {
  margin-bottom: 5px;
}

.footer_link a {
  color: #888;
  text-decoration: none;
  margin: 0 8px;
  transition: color 0.3s;
}

.footer_link a:hover {
  color: #6a0dad;
}
